@import './variables';

#files {
    flex-grow: 1;

    .filesLoading {
        color: $pink;
        font-size: 15px;
        padding-bottom: $gutter / 2;
        padding-top: $gutter / 2;
        text-align: center;
    }
    .fileList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 $gutter / 2;

        li {
            display: flex;
            padding: $gutter / 2;
            padding-top: 0;
            width: 20%;

            .fileWrapper {
                align-items: center;
                border-radius: 5px;
                border-top: 3px solid $purple;
                box-shadow: 0 0 3px rgba(0, 0, 0, .2);
                display: flex;
                padding: $gutter;
                flex-wrap: nowrap;
                justify-content: space-between;
                transition: border-top-color .2s;
                width: 100%;

                &:hover {
                    border-top-color: $pink;

                    .fileButton {
                        background-color: $pink;
                    }
                }
            }
            .fileName {
                color: $text;
                flex-grow: 1;
                font-size: 13px;
                padding-right: $gutter / 2;
            }
            .fileButton {
                background-color: $purple;
                border-radius: 18px;
                flex-shrink: 0;
                height: 25px;
                line-height: 25px;
                text-align: center;
                transition: background-color .2s;
                width: 25px;

                .fa {
                    color: white;
                    font-size: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    #files {
        .fileList {
            li {
                width: 25%;
            }
        }
    }
}
@media only screen and (max-width: 820px) {
    #files {
        .fileList {
            li {
                width: 33.3%;
            }
        }
    }
}
@media only screen and (max-width: 650px) {
    #files {
        .fileList {
            li {
                width: 50%;
            }
        }
    }
}
@media only screen and (max-width: 450px) {
    #files {
        .fileList {
            li {
                width: 100%;
            }
        }
    }
}